<header class="navbar navbar-default navbar-fixed-top" id="header">


  <ul class="nav navbar-nav pull-left">
    <li>
      <app-brand-logo class="clickable" ui-sref="ingot.home"></app-brand-logo>
    </li>
    <!--<li class="header-strapline hidden-xs"></li>
    <li>
      <left-sidebar-toggle is-authenticated></left-sidebar-toggle>
    </li>
    <li>
      <connection-monitor></connection-monitor>
    </li>
    <li>
      <training-mode></training-mode>
    </li>
    <li>
      <ingot-browser-support></ingot-browser-support>
    </li>-->
  </ul>

  <ul class="nav navbar-nav navbar-right" style="top: -12px">

    <!-- <li is-authenticated="false"><a href="sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->

    <li class="dropdown" is-authenticated="false">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span> <span class="glyphicon glyphicon-log-in"></span> Log In</span>
      </a>
    </li>

    <!--<user-menu is-authenticated></user-menu>-->

    <li>
      <a href="#" style="top: -2px">
        <span class="fa fa-expand fa-lg" toggle-fullscreen="toggle-fullscreen"></span>
      </a>
    </li>

    <!--<li is-authenticated>
      <a id="#toggle_sidemenu_r" href="" class="input-unstyled" style="top: -2px">
        <right-sidebar-toggle></right-sidebar-toggle>
      </a>
    </li>-->

  </ul>
</header>